.root{
    -fx-color1: #dbba6d;
    -fx-color2: #e8cba1;


    /*-fx-base: -fx-color1; todo darkmode?*/
}


.button {
    -fx-background-color: -fx-color1;
    -fx-background-radius: 10;
    /*-fx-text-fill: #654b00;*/
    -fx-font-weight: bold;
    -fx-font-size: 20 px;
    -fx-padding: 8 10;
}

.toggle-button {
    -fx-background-color: -fx-color2;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-font-size: 20 px;
    -fx-padding: 8 10;
}

.toggle-button:selected{
    -fx-background-color: #80ce80;
}

.label, .check-box, .radio-button {
    -fx-font-size: 14 px;
}

.check-box .box{
    -fx-background-color: -fx-color1;
}

.radio {
    -fx-background-color: -fx-color1;
}

.spinner {
    -fx-body-color: -fx-color1, -fx-color1;
    -fx-border-color: -fx-color1;
}

.spinner:focused {
    -fx-background-color: -fx-color1;
}

.popup {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-font-size: 20 px;
    -fx-font-weight: bold;
}

.tutorialButton {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 5;
}

.tutorialButtonSelected {
    -fx-background-color: #6767fd;
}



